<!DOCTYPE html>
<html ng-app="AngulaRailSample">
<head>
  <title>AngulaRailSample</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="list-inline">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Repository", "https://github.com/ibnutoriq/angularailsample", target: "_blank" %></li>
    </ul>
    <%= yield %>
  </div>
</body>
</html>
